<section class="gradient-custom main">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration padding">
                <div class="card-body">
                    <app-grafico-logs></app-grafico-logs>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration padding">
                <div class="card-body">
                    <app-grafico-turnos-especialidad></app-grafico-turnos-especialidad>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration padding">
                <div class="card-body">
                    <app-grafico-turnos-dia></app-grafico-turnos-dia>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration padding">
                <div class="card-body"> 
                    <app-grafico-turnos-por-medico></app-grafico-turnos-por-medico>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration padding">
                <div class="card-body">
                    <app-grafico-turnos-finalizados></app-grafico-turnos-finalizados>
                </div>
            </div>
        </div>
    </div>
</section>
