<div class="main">

    <div class="row">
        <div class="colm-form">   
            <div class="content">
                <div class="profilePhoto">
                <div class="image"><img src={{auth.usuario.img1}} alt="photo"></div>
                <div class="name">
                    <h1>{{auth.usuario.nombre}} {{auth.usuario.apellido}}</h1>
                    <h4>{{auth.usuario.mail}}</h4>
                </div>
            </div>
            <hr>
            <div class="followers">
                <div class="f1 f">
                    <h2>{{auth.usuario.obraSocial}}</h2>
                    <p>Obra Social</p>
                </div>
                <div class="f2 f">
                    <h2>{{auth.usuario.edad}}</h2>
                    <p>edad</p>
                </div>
                <div class="f3 f">
                    <h2>{{auth.usuario.dni}}</h2>
                    <p>Dni</p>
                </div>
            </div>
            <div class="options">
                <button type="button" class="btn red">Solicitar Turno</button>
                <button type="button" class="btn red">Mis turnos</button>
            </div>
        </div>
    </div>
</div>

