<h4>Seleccione los números pares</h4>
<div class="parent">
    <div class="div1">
        <button class="boton" [disabled]="arrayNumeros[0].bloqueado" (click)="ElegirOpcion(0)" >
            {{arrayNumeros[0].num}}
        </button>
    </div>
    <div class="div2">
        <button class="boton" [disabled]="arrayNumeros[1].bloqueado" (click)="ElegirOpcion(1)" >
            {{arrayNumeros[1].num}}
        </button>
    </div>
    <div class="div3">
        <button class="boton" [disabled]="arrayNumeros[2].bloqueado" (click)="ElegirOpcion(2)">
            {{arrayNumeros[2].num}}
        </button>
    </div>
    <div class="div4">
        <button class="boton" [disabled]="arrayNumeros[3].bloqueado" (click)="ElegirOpcion(3)">
            {{arrayNumeros[3].num}}
        </button>
    </div>
    <div class="div5">
        <button class="boton" [disabled]="arrayNumeros[4].bloqueado" (click)="ElegirOpcion(4)">
            {{arrayNumeros[4].num}}
        </button>
    </div>
    <div class="div6">
        <button class="boton" [disabled]="arrayNumeros[5].bloqueado" (click)="ElegirOpcion(5)">
            {{arrayNumeros[5].num}}
        </button>
    </div>
    <div class="div7">
        <button class="boton" [disabled]="arrayNumeros[6].bloqueado" (click)="ElegirOpcion(6)">
            {{arrayNumeros[6].num}}
        </button>
    </div>
    <div class="div8">
        <button class="boton" [disabled]="arrayNumeros[7].bloqueado" (click)="ElegirOpcion(7)">
            {{arrayNumeros[7].num}}
        </button>
    </div>
    <div class="div9">
        <button class="boton" [disabled]="arrayNumeros[8].bloqueado" (click)="ElegirOpcion(8)">
            {{arrayNumeros[8].num}}
        </button>
    </div>
    <div class="div10">
        <button class="botonEnviar" (click)="EnviarCaptcha()">
            Enviar
        </button>
    </div>

</div>
