<div class="main">
    <div class="container">
            <div class="order-md-1">
                <h4 class="mb-3">Historia Clinica</h4>
                <form class="needs-validation" [formGroup]="formValidaciones"  required>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="altura">Altura (en CM)</label>
                            <input type="text" class="form-control" id="altura" name="altura"
                                formControlName="altura" placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['altura'].errors?.['required'] && formValidaciones.controls['altura'].touched">
                                Altura obligatoria!
                            </small>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['altura'].errors?.['pattern'] && formValidaciones.controls['altura'].touched">
                                Altura inválida
                            </small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="peso">Peso</label>
                            <input type="text" class="form-control" id="peso" name="peso"
                                formControlName="peso" placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['peso'].errors?.['required'] && formValidaciones.controls['peso'].touched">
                                Peso obligatorio!
                            </small>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['peso'].errors?.['pattern'] && formValidaciones.controls['peso'].touched">
                                Peso inválido
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="temperatura">Temperatura</label>
                            <input type="text" class="form-control" id="temperatura" name="temperatura"
                                formControlName="temperatura" placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['temperatura'].errors?.['required'] && formValidaciones.controls['temperatura'].touched">
                                Temperatura obligatoria!
                            </small>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['temperatura'].errors?.['pattern'] && formValidaciones.controls['temperatura'].touched">
                                Temperatura inválida
                            </small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="presion">Presion</label>
                            <input type="text" class="form-control" id="presion" name="presion"
                                formControlName="presion" placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['presion'].errors?.['required'] && formValidaciones.controls['presion'].touched">
                                Presion obligatorio!
                            </small>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls['presion'].errors?.['pattern'] && formValidaciones.controls['presion'].touched">
                                Presion inválido
                            </small>
                        </div>
                    </div>
                    <button (click)="AgregarCampo()">Agregar Dato</button>
                    <div class="row" *ngFor="let dato of camposAgregados">
                        <div class="col-md-6 mb-3">
                            <label for={{dato.campo}}>Clave</label>
                            <input type="text" class="form-control" id={{dato.campo}} name={{dato.campo}}
                                formControlName={{dato.campo}} placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls[dato.campo].errors?.['required'] && formValidaciones.controls[dato.campo].touched">
                                Clave obligatoria!
                            </small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for={{dato.valor}}>Valor</label>
                            <input type="text" class="form-control" id={{dato.valor}} name={{dato.valor}}
                                formControlName={{dato.valor}} placeholder="" value="" required>
                            <small class="invalid"
                                *ngIf="formValidaciones.controls[dato.valor].errors?.['required'] && formValidaciones.controls[dato.valor].touched">
                                Valor obligatorio!
                            </small>
                        </div>
                    </div>
                        <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                        [disabled]="formValidaciones.invalid" (click)="EnviarHistoria()">Finalizar
                    </button>
                </form>
            </div>
        </div>
    </div>