<div class="parent main">
    <div class="div1">
        <div class = "colm-form">
            <div class="form-container titulo">
                <H1>Clinica CLAS</H1>
            </div>
        </div>
    </div>
        <div class="div2">
            <div class = "colm-form">
                <div class="form-container">
                    <h2>Bienvenido!</h2>
                    <hr style="margin-top: 10px; margin-bottom:10px">
                    <h5>¿ Quienes somos ?</h5>
                    <p>Clinica privada falsa, creada con el objetivo de brindarle salud a los adinerados y aprobar LabIV</p>
                    <h5> Contacto </h5>
                    <p> Tel: 4250 - 5042</p>
                    <p> Mail: administracion@acclinica</p>
                    <p>Facebook: AC Clinica</p>
                    <h5> Ubicacion </h5>
                    <p>Alberti y Brasil, Parque Patricios, BsAs</p>
                </div>
            </div>
        </div>
        <div class="div3" >
            <div class="form-container">
                <img  id="logo" src="../../../assets/mapa.png">
            </div>
        </div>
</div>
    
    