<div class="main">
    <div class="row"> 
        <div class="colm-form">
            <div class="form-container">
                <app-loading *ngIf="cargando;else formLogin"></app-loading>
                <ng-template #formLogin>
                    <h2>Iniciar Sesión</h2>
                    <input type="text" id= "email" placeholder="Email" [(ngModel)] = "loginUsuario.email" >
                    <input type="password" placeholder="Contraseña" [(ngModel)] = "loginUsuario.password">
                    <input type="button" class="btn-login" (click)="ingresar()" value="Iniciar Sesion" >
                    <input type="button" class="btn-new" (click)="iniciarSesionAutomaticamente(1)" value="Iniciar Sesion Usuario">                
                    <input type="button" class="btn-new" (click)="iniciarSesionAutomaticamente(2)" value="Iniciar Sesion Especialista">                
                    <input type="button" class="btn-new" (click)="iniciarSesionAutomaticamente(3)" value="Iniciar Sesion Admin">                
                </ng-template>
            </div>
        </div>
        <div class="form-container">
            <img  id="logo" src="../../../assets/AC.png">
        </div>
    </div>
</div>
    
    