<div class="tittle">
    <h3>Turnos por dia</h3>
</div>
<div style="width: 40vw;" id="grafico1">
    <div style="display: block">
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
        </canvas>  
    </div>
</div>
<div class="divButton">
    <button class="info" (click)="DescargarInfo()">Descargar info</button>
</div>
<div class="divButton">
    <button class="info" (click)="descargarPDF('grafico1','turnosXdia')">Descargar Grafico</button>
</div>
